@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Rubik";
    color: black;
    text-decoration: none;
}

.element {
  overflow: scroll; /* or auto */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.element::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: url(assets/PatternTransparent.png);
}

@media (max-width:700px){

    #desenvolvimentodiv img{
    width: 300px;
    flex-direction: column;
    display: flex;
    height: 110px;
    }

    #desenvolvimentodiv {
        height: 230px;
        width: 380px;
    }

    .div-quadrados {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #emaildiv {
        width: 380px;
        height: 320px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

.div-quadrados {
    display: flex;
}

.div-quadrados div {
    background-color: white;
    margin: 10px;
}


#emaildiv {
    display: flex;
    border: 1px solid black;
    padding: 30px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
}

#desenvolvimentodiv img{
    width: 300px;
    flex-direction: column;
    display: flex;
    height: 110px;

}

#desenvolvimentodiv{
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

#desenvolvimentodiv span{
    background-color: black;
    width: 240px;
    height: 2px;
}

#desenvolvimentodiv h3{
    font-size: 1vh;
    margin-top: 30px;
}

