@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Geologica";
    color: black;
    text-decoration: none;
}

body {
    background-color: rgb(237, 237, 237);
}

.navbar {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    box-shadow: 5px 10px 10px #00000028;
    margin-left: 100px;
    margin-right: 100px;
    padding: 15px;
    height: 100px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    top: 0;
    z-index: 999;
    border-right: 2px solid black;
}

.navbar-container {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

@media (max-width:800px) {
    .navbar {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.navbar img{
    width: 250px;
    margin-top: 15px;
    margin-left: 0px;
    transition: all 0.2s;
}

.navbar img:hover{
    transform: scale(0.97);
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    padding: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

.navbar ul li a {
    transition: all 0.2s;
}

.navbar ul li a:hover {
    color: rgb(255, 196, 0);
}

#ContactBtn {
    background-color: rgb(255, 196, 0);
    border-radius: 300px;
    border: 2px solid;
    transition: all 0.2s;
}

#ContactBtn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 100vh;
    justify-content: space-around;
}

@media(max-width:800px) {
    main {
    flex-direction: column;
    gap: 6vh;
    justify-content: center;
    text-align: center;
}
}

main h2{
    font-size: 3.3vh;

}

main h2 {
    max-width: 35vh;
}

main p{
    font-size: 2vh;
    max-width: 50vh;
}

footer {
    background: #FDBB2D;
    background: linear-gradient(0deg, rgba(253, 187, 45, 1) 0%, rgba(253, 187, 45, 0) 100%);
    height: 10vh;
}

.slide-up {
  animation: slideUp 0.5s ease-out forwards;
  opacity: 0;
}

@keyframes slideUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#pdf-list {
    height: 30vh;
    width: 30vh;
    overflow: auto;
    background-color: #e4e4e4;
    white-space: nowrap;
    border-radius: 20px;
}

#pdf-list li {
    background-color: rgb(221, 221, 221);
    margin: 10px;
    padding: 10px;
    text-align: left;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#search {
    border-radius: 100px;
    border: 1px solid black;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    gap: 30px;
}

form label {
    display: flex;
    flex-direction: column;
    width: 500px;
}

form input {
    height: 60px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}

form textarea {
    height: 120px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}

form button {
    padding: 10px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(255, 196, 0);
    transition: all 0.2s;
    cursor: pointer;
}

form button:hover {
    padding: 10px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
}

.navbar-toggle {
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: black;
    transition: all 0.3s ease-in-out;
}

@media (max-width:800px) {
    .navbar {
        backdrop-filter: none;
    }

    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: left;
        gap: 1.7rem !important;
        position: absolute;
        height: 90vh;
        width: 100%;
        top: 0;
        left: 0;
        background-color: white;
        padding: 5rem 1.5rem;
        z-index: 998;
        border-bottom-right-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
        transition: all 0.3 ease-in-out;
    }

    .navbar-container .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.navbar-container .navbar-menu.active {
    display: flex;
}

.error404 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    justify-content: center;
    gap: 32vh;
    align-items: center;
}

.error404 img {
    width: 300px;
}

.text404 {
    display: flex;
    text-align: center;
    flex-direction: column;
}

@media (max-width:800px) {
    .error404 {
        flex-direction: column;
        gap: 30px;
    }
    .error404 h2 {
        font-size: 50px;
    }
    .error404 h4 {
        font-size: 30px;
        font-weight: 400;
    }
    .error404 h5 {
        font-size: 15px;
        font-weight: 300;
    }
}

.error404 h5 {
    font-weight: 300;
}

.error h4 {
    font-weight: 400;
}

#emaildiv {
    height: 450px;
    border-radius: 20px;
    border: 1px solid black;
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 6px 6px #00000028;
}